<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>

		<title>Verify</title>
	</head>

	<body>
		<div class="container">
			<div class="alert alert-success mt-5" role="alert">
				<h4 class="alert-heading">Verify Success!</h4>
				<hr />
				Welcome to the COMMERCIALE4.0!
				<p class="mb-0">
					You have successfully verified.<br />Complete your profile and have
					fun with the community.
				</p>
				<a href="/" class="alert-link">Click here if you like.</a>
			</div>
		</div>
	</body>
</html>
