.login-page {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("/images/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  .login-page {
    padding: 0 12px;
  }
}
