body {
    font-family: Raleway-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --colorPrimary: #faab17;
    --colorSecondary: #fff;
    --colorBg: #fff;
    --colorText: #333;
    --colorTextSecondary: white;
    --colorBorder: #d8d8d8;
    --colorHighlight: #333;
    --colorInputBg: #eee;
    --colorButtonHighlight: #d80;
}

.body {
    min-height: calc(100vh - 66px);
}

.color-primary {
    color: var(--colorPrimary);
}

button,
input {
    outline: none !important;
}

input {
    padding: 8px 10px;
    border: 1px solid var(--colorBorder);
    border-radius: 4px;
}

input:focus {
    border: 1px solid var(--colorPrimary);
}

a {
    text-decoration: none !important;
}

/* a:hover {
  color: var(--colorPrimary) !important;
} */

button {
    border: 0;
    color: var(--colorSecondary);
    padding: 5px;
    min-width: 120px;
    background: var(--colorPrimary);
    transition: all 0.2s;
}

button:hover {
    background: var(--colorButtonHighlight);
}

.txt-upper {
    text-transform: uppercase;
}

.my-form {
    border-radius: 4px;
    box-shadow: 0 0 0.3em gray;
    padding: 16px 5px;
    background: white;
    font-size: 14px;
    max-width: 480px;
}
/* range slider custom*/
.rangeslider {
    margin: 8px 0 !important;
}
.rangeslider-horizontal {
    height: 8px !important;
    border-radius: 4px !important;
}
.rangeslider-horizontal .rangeslider__handle {
    width: 12px !important;
    border-radius: 4px !important;
}
.rangeslider-horizontal .rangeslider__handle:after {
    display: none;
}
.rangeslider-horizontal .rangeslider__fill {
    background-color: var(--colorPrimary) !important;
}
.rangeslider .rangeslider__handle {
    box-shadow: none !important;
    background: #eee !important;
    outline: 0;
}

/* react tag autocomplete custom*/
.react-tags {
    position: relative;
    padding: 2px 4px;
    border-radius: 4px;
    background: var(--colorInputBg);

    /* shared font styles */
    font-size: 1em;

    /* clicking anywhere will focus the input */
    cursor: text;
}

.react-tags.is-focused {
    border-color: #b1b1b1;
}

.react-tags__selected {
    display: inline;
}

.react-tags__selected-tag {
    display: inline-block;
    box-sizing: border-box;
    margin: 2px 4px;
    padding: 3px 6px;
    border-radius: 2px;
    background: var(--colorBg);
    color: var(--colorText);
    min-width: 50px;

    /* match the font styles */
    font-size: 14px;
}

.react-tags__selected-tag:before {
    content: "\2715";
    color: var(--colorText);
    margin-right: 8px;
}

.react-tags__selected-tag:after {
    content: "";
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
    background: #ccc;
}

.react-tags__search {
    display: inline-block;

    /* match tag layout */
    padding: 5px 2px;

    /* prevent autoresize overflowing the container */
    max-width: 100%;
}

@media screen and (min-width: 30em) {
    .react-tags__search {
        /* this will become the offsetParent for suggestions */
        position: relative;
    }
}

.react-tags__search-input {
    /* prevent autoresize overflowing the container */
    max-width: 100%;

    /* remove styles and layout from this element */
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    outline: none;

    /* match the font styles */
    font-size: 14px;
    background: transparent;
}

.react-tags__search-input::-ms-clear {
    display: none;
}

.react-tags__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 30em) {
    .react-tags__suggestions {
        width: 240px;
    }
}

.react-tags__suggestions ul {
    margin: 4px -1px;
    padding: 0;
    list-style: none;
    background: white;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 6px 8px;
}

.react-tags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}

.react-tags__suggestions li:hover {
    cursor: pointer;
    background: #eee;
}

.react-tags__suggestions li.is-active {
    background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
    opacity: 0.5;
    cursor: auto;
}

/* checkbox */
.label-checkbox {
    font-size: 13px;
    color: var(--colorText);
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

.label-checkbox::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid var(--colorBorder);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.input-checkbox:checked + .label-checkbox::before {
    color: var(--colorPrimary);
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-left: 4px;
    padding-right: 4px;
}
